extends layout

block content
  center
    h1= title
    if (!user)
      p Welcome to #{title}!
      a(href="/login")
        button.btn.btn-primary(type="button") Login
      |&nbsp;
      |&nbsp;
      a(href="/register")
        button.btn.btn-primary(type="button") Register
    if (user)
      p You are currently logged in as #{user.username}.
      a(href="/users/contacts")
        button.btn.btn-primary(type="button") Contacts
      |&nbsp;
      |&nbsp;
      a(href="/logout")
        button.btn.btn-danger(type="button") Logout
