extends layout

block content
  h1= title
  if (!user)
    p Welcome to #{title}!
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}.
    a(href="/users/contacts") Contacts
    br
    a(href="/logout") Logout
