extends layout

block content
  .jumbotron.text-center
    h1 #{title}
    p.lead
      | Welcome to the MEAN Stack Application by
      strong   Group 10!
  center
    if (!user)
      a(href="/login")
        button.btn.btn-primary(type="button") Login
      |&nbsp;
      |&nbsp;
      a(href="/register")
        button.btn.btn-primary(type="button") Register
    if (user)
      p You are currently logged in as #{user.username}.
      a(href="/users/contacts")
        button.btn.btn-primary(type="button") Contacts
      |&nbsp;
      |&nbsp;
      a(href="/logout")
        button.btn.btn-danger(type="button") Logout
