extends layout

block content
  h1=title
  br
  p#loginErrorDNE.bg-danger(style='max-width: 300px; padding:5px; text-align:center; display:none;') User and password match not found :(
  p#loginErrorIncomplete.bg-danger(style='max-width: 300px; padding:5px; text-align:center; display:none;') Please fill in all fields!

  #loginUser
    fieldset
      .form-group
          input#inputUsername.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input#inputPassword.form-control(type='password', name="password", placeholder='Password')
      button#btnLoginUser.btn.btn-primary Login
      |&nbsp;
      |&nbsp;
      a(href='/')
        button.btn.btn-danger(type="button") Cancel
