extends layout

block content
  h1=title
  br
  p#registerErrorGeneric.bg-danger(style='max-width: 300px; padding:5px; text-align:center; display:none;') Cannot register user at the moment. Please try again!
  p#registerErrorIncomplete.bg-danger(style='max-width: 300px; padding:5px; text-align:center; display:none;') Please fill in all fields!

  #registerUser
    fieldset(style="width:300px;")
      .form-group
          input#inputFirstName.form-control(type='text', name="firstName", placeholder='First Name')
      .form-group
          input#inputLastName.form-control(type='text', name="lastName", placeholder='Last Name')
      .form-group
          input#inputEmail.form-control(type='text', name="email", placeholder='Email')
      .form-group
          input#inputUsername.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input#inputPassword.form-control(type='password', name="password", placeholder='Password')
      button#btnRegisterUser.btn.btn-primary Register
      | &nbsp;
      | &nbsp;
      a(href='/')
        button.btn.btn-danger(type="button") Cancel
