extends ../layout
//script(type="javascript",src='../../public/javascripts/global.js')

block content
  br
  h1= title

  br
  br
  h4 Add Contact
  #addUser
    fieldset
      .row
        .form-group.col-md-6
          input#inputFirstName.form-control(type='text', name="firstName", placeholder='First Name')
        .form-group.col-md-6
          input#inputLastName.form-control(type='text', name="lastName", placeholder='Last Name')
        .form-group.col-md-6
          input#inputNickname.form-control(type='text', name="nickname", placeholder='Nickname')
        .form-group.col-md-6
          input#inputAddress.form-control(type='text', name="address", placeholder='Address')
      .row
        .form-group.col-md-6
          input#inputEmail.form-control(type='text', name="email", placeholder='Email')
        .form-group.col-md-6
          input#inputHomePhone.form-control(type='text', name="homePhone", placeholder='Home Phone')
        .form-group.col-md-6
          input#inputCellPhone.form-control(type='text', name="cellPhone", placeholder='Cell Phone')
      br
      button#btnAddUser.btn.btn-primary Add
  br
  br
  br
  #contactsTable
    table.table
      thead
        th First Name
        th Last Name
        th Nickname
        th Address
        th Email
        th Home Phone
        th Cell Phone
        th 
      tbody
