extends ../layout

block content
  br
  br
  h2 Hey there, #{user.firstName}!
    br
    br
    a(href="/users/contacts")
      button.btn.btn-primary(type="button") Contacts
    |&nbsp;
    |&nbsp;
    a(href="/logout")
      button.btn.btn-danger(type="button") Logout
