extends ../layout

block content
  br
  br
  p Hey there, #{user.username}!
    br
    br
    a(href="/users/contacts") 
      button.btn.btn-primary(type="button") Contacts
    br
    br
    a(href="/logout") 
      button.btn.btn-danger(type="button") Logout
