extends ../layout

block content
  br
  br
  div
     center
        h1 MEET GROUP 10
  
  br
  br
  
  div
       left
          h3 #[a(style={color: '#DBADFF'}) Haerunnisa Dewindita]
          
  p Where have all the good men gone And where are all the gods Where's the street-wise Hercules To fight the rising odds Isn't there a white knight upon a fiery steed Late at night toss and turn and dream of what I need I need a hero I'm holding out for a ero 'til the end of the night He's gotta be strong And he's gotta be fast And he's gotta be fresh from the fight I need a hero I'm holding out for a hero 'til the morning light          
  br
  br
  div(align='right')
          h3 #[a(style={color: 'green'}) Huy Dang]
       
  div(align='right')       
      p He's gotta be sure And it's gotta be soon And he's gotta be larger than life Larger than life Somewhere after midnight In my wildest fantasy Somewhere just beyond my reach Someone reaching back for me Racing on the thunder and rising with the heat It's gonna take a superman to sweep me off my feet Up where the mountains meet the heavens above Out where the lightning splits the sea I would swear that there's someone somewhere Watching me Through the wind and the chill and the rain And the storm and the flood          
  br
  br
  div
       left
           h3 #[a(style={color: '#00A4B9'}) John Albury]
  p Somebody once told me the world is gonna roll me I ain't the sharpest tool in the shed She was looking kind of dumb with her finger and her thumb In the shape of an "L" on her forehead Well the years start coming and they don't stop coming Fed to the rules and I hit the ground running Didn't make sense not to live for fun Your brain gets smart but your head gets dumb So much to do, so much to see So what's wrong with taking the back streets? You'll never know if you don't go You'll never shine if you don't glow Hey now, you're an all-star, get your game on, go play Hey now, you're a rock star, get the show on, get paid           
  br
  br
  
  div(align='right')
          h3 #[a(style={color: '#20B2AA'}) Alana Arjune]
   
  div(align='right') 
      p And all that glitters is gold Only shooting stars break the mold It's a cool place and they say it gets colder You're bundled up now, wait till you get older But the meteor men beg to differ Judging by the hole in the satellite picture The ice we skate is getting pretty thin The water's getting warm so you might as well swim My world's on fire, how about yours? That's the way I like it and I never get bored Hey now, you're an all-star, get your game on, go play Hey now, you're a rock star, get the show on, get paid All that glitters is gold Only shooting stars break the mold Hey now, you're an all-star, get your game on, go play          
  br
  br
  div
       left
          h3 #[a(style={color: '#027DFF'}) Joshua Sylvestre]
  p Hey now, you're a rock star, get the show, on get paid And all that glitters is gold Only shooting stars Somebody once asked could I spare some change for gas? I need to get myself away from this place I said yep what a concept I could use a little fuel myself And we could all use a little change Well, the years start coming and they don't stop coming Fed to the rules and I hit the ground running Didn't make sense not to live for fun Your brain gets smart but your head gets dumb So much to do, so much to see So what's wrong with taking the back streets? You'll never know if you don't go (go!) You'll never shine if you don't glow Hey now, you're an all-star, get your game on, go play          
  br
  br
  div(align='right')
           h3 #[a(style={color: '#5f42f4'}) Subhash Naidu]
           
  div(align='right')
      p You can bet there's nothing but net When I am in a zone and on a roll But I've got a confession, my own secret obsession And it's making me lose control Everybody gather 'round Well if Troy can tell his secret than I can tell mine... I bake What? I love to bake! Strudels, scones, even apple pan dowdy! Not another sound Someday I hope to make the perfect crême brûlée! No, no, no, nooo... No, no, no Stick to the stuff you know If you want to be cool, follow one simple rule Don't mess with the flow, no no Stick to the status quo
  
  br
  br
  div
       left
         h3 #[a(style={color: 'orange'}) Abdulfattah Isleem]
         
  p Look at me and what do you see Intelligence beyond compare But inside I am stirring,  something strange is occurring It's a secret I need to share Open up, dig way down deep Hip hop is my passion! I love to pop and lock and jam and break! Is that even legal? Not another peep It's just dancing. Sometimes I think it's cooler than homework No, no, no, nooo... No, no, no Stick to the stuff you know It is better by far to keep things as they are Don't mess with the flow, no no Stick to the status quo         
  br
  br

  
  a(href="/users/contacts") Contacts
  br
  a(href="/logout") Logout
