extends ../layout

block content
  br
  br
  div
     center
        h1 YOUR PROFILE
        
  p First Name: #{user.firstName}
  p Last Name: #{user.lastName}
  p Username: #{user.username}
  p Email: #{user.email}
  
  
