extends ../layout

block content
  br
  br
  div
     center
        h1 MEET GROUP 10
  
  br
  br
  
  div
       center
          h3 #[a(style={color: '#DBADFF'}) Haerunnisa Dewindita]
  br
  br
  div
     center
          h3 #[a(style={color: 'green'}) Huy Dang]
  br
  br
  div
       center
           h3 #[a(style={color: '#00A4B9'}) John Albury]
  br
  br
  
  div
       center
          h3 Alana Arjune
  br
  br
  div
       center
          h3 #[a(style={color: '#027DFF'}) Joshua Sylvestre]
  br
  br
  div
       center
           h3 #[a(style={color: '#5f42f4'}) Subhash Naidu]
  br
  br
  div
       center
         h3 #[a(style={color: 'white'}) Abdulfattah Isleem]
  br
  br

  
  a(href="/users/contacts") Contacts
  br
  a(href="/logout") Logout
